<div id='container' ng-controller='ShortenController'>

<!-- Your code here -->
<form>
  <input ng-keyup='validate(link)' ng-model='link'/>
  <button ng-click='addLink(link)'>Submit</button>
<!-- some kind of form input field to submit new links ? -->
</form>

  <ul>
    <li class='link' ng-if='submitted'>
      <img src='assets/redirect_icon.png'/>
        <div class='info'>
          <div class='visits'><span class='count'>{{newLink.visits}}</span>Visits</div>
          <div class='title'>{{newLink.title}}</div>
          <div class='original'>{{newLink.url}}</div>
          <a href='{{link.code}}'>{{newLink.baseUrl}}/{{newLink.code}}</a>
        </div>
    </li>
  </ul>

</div>



