<div id='container' ng-controller='ShortenController'>

<!-- Your code here -->
<div ng-class="{ 'has-error' : linkForm.url.$invalid && !linkForm.url.$pristine }" novalidate>
<form name='linkForm' novalidate>
  <input type="url" name='url' ng-model='link'>
  <button ng-click='addLink(link)' ng-disabled="linkForm.$invalid">Submit</button>
</form>
<p class='validate' ng-show="linkForm.url.$invalid && !linkForm.url.$pristine">Please enter a valid link.</p>
</div>
  <ul>
    <li class='link' ng-if='submitted'>
      <img src='assets/redirect_icon.png'/>
        <div class='info'>
          <div class='visits'><span class='count'>{{newLink.visits}}</span>Visits</div>
          <div class='title'>{{newLink.title}}</div>
          <div class='original'>{{newLink.url}}</div>
          <a href='{{link.code}}'>{{newLink.baseUrl}}/{{newLink.code}}</a>
        </div>
    </li>
  </ul>

</div>



